In [27]:
import pandas as pd

df = pd.read_csv('life_expectancy.csv')
df.head()

,Country,Year,Gender,LifeExpectancy,Income,Education,Region,GDPperCapita,BirthRate,MortalityRate
0,United States,2020,Male,76,60000.0,Bachelor,North America,50000,12.0,5.0
1,United States,2020,Female,81,50000.0,Bachelor,North America,50000,9.0,3.0
2,Japan,2020,Male,84,50000.0,Bachelor,Asia,40000,7.0,2.0
3,Japan,2020,Female,89,40000.0,Bachelor,Asia,40000,6.0,1.0
4,Canada,2020,Male,81,60000.0,Master,North America,50000,10.0,3.0

In [28]:
X = df.drop(['Country', 'Year', 'LifeExpectancy'], axis=1)
y = df['LifeExpectancy']

In [30]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

X['Gender'] = le.fit_transform(X['Gender'])
X['Education'] = le.fit_transform(X['Education'])
X['Region'] = le.fit_transform(X['Region'])

In [39]:
X['Income'] = X['Income'].fillna(int(X['Income'].mean()))
X['BirthRate'] = X['BirthRate'].fillna(int(X['BirthRate'].mean()))
X['MortalityRate'] = X['MortalityRate'].fillna(int(X['MortalityRate'].mean()))

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, random_state=21, test_size=0.2)

In [47]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion="entropy", max_depth=3)
model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [46]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.0

In [48]:
X_test

    Gender   Income  Education  Region  GDPperCapita  BirthRate  MortalityRate
1        0  50000.0          0       2         50000        9.0            3.0
19       1  60000.0          0       1         50000       12.0            5.0
25       1  60000.0          1       3         50000        7.0            2.0
5        0  50000.0          3       2         50000        8.0            2.0
7        0  30000.0          0       0         30000       12.0            4.0
20       0  50000.0          0       1         50000        9.0            3.0

In [49]:
y_pred

array([76, 76, 82, 81, 68, 76], dtype=int64)

In [50]:
y_test

1     81
19    68
25    80
5     84
7     81
20    72
Name: LifeExpectancy, dtype: int64