In [1]:
import pandas as pd
import numpy as np
import math
  
# creating the Numpy array
array = np.array([
    [1, 1, 0], 
    [2, 4, 0], 
    [3, 9, 1], 
    [4, 6, 1], 
    [5, 5, 1], 
    [6, 3, 0],              
    [7, 4, 1],
    [8, 9, 1],
    [1, 5, 0], 
    [4, 3, 0],              
    [7, 1, 0],
    [3, 9, 1],
    [0, 0, 0],
    [1, 0, 0],
    [2, 2, 0],
])
   
# creating a list of column names
column_values = ['x', 'y', 'sum>10']
  
# creating the dataframe
df = pd.DataFrame(
    data = array, 
    columns = column_values
)
  
# displaying the dataframe
df

    x  y  sum>10
0   1  1       0
1   2  4       0
2   3  9       1
3   4  6       1
4   5  5       1
5   6  3       0
6   7  4       1
7   8  9       1
8   1  5       0
9   4  3       0
10  7  1       0
11  3  9       1
12  0  0       0
13  1  0       0
14  2  2       0

In [ ]:
def generate_Distance_Matrix ()