In [37]:
import pandas as pd
import numpy as np

array = np.array([
    [1, 1, 0], 
    [2, 4, 0], 
    [3, 9, 1], 
    [4, 6, 0], 
    [5, 5, 0],
    [9, 9, 1],
    [6, 3, 0],              
    [7, 4, 1],
    [8, 9, 1],
    [1, 5, 0], 
    [4, 3, 0],              
    [7, 1, 0],
    [3, 9, 1],
    [0, 0, 0],
    [9, 2, 1],
    [5, 6, 1],
    [1, 0, 0],
    [2, 2, 0],
    [6, 6, 1],
    [8, 4, 1],
])

col_names = ['x1', 'x2', 'sum>10']

df = pd.DataFrame(
    data = array, 
    columns = col_names
)

df

    x1  x2  sum>10
0    1   1       0
1    2   4       0
2    3   9       1
3    4   6       0
4    5   5       0
5    9   9       1
6    6   3       0
7    7   4       1
8    8   9       1
9    1   5       0
10   4   3       0
11   7   1       0
12   3   9       1
13   0   0       0
14   9   2       1
15   5   6       1
16   1   0       0
17   2   2       0
18   6   6       1
19   8   4       1

In [38]:
n = df.shape[0]

lr = 0.1

p_w1 = 0
p_w2 = 0

while True:
    
    w1 = p_w1
    w2 = p_w2
    
    for i in range(n):
        
        x1 = df.loc[df.index[i], 'x1']
        x2 = df.loc[df.index[i], 'x2']
        t = df.loc[df.index[i], 'sum>10']
        
        p = w1*x1 + w2*x2
        
        # activation function
        if p > 10:
            p = 1
        else:
            p = 0
        
        #update weights
        if p != t:
            w1 = w1 + lr*(t-p)*x1
            w2 = w2 + lr*(t-p)*x2
        
    # check concurrent values
    if p_w1 == w1:
        if p_w2 == w2:
            break
            
    else:
        p_w1 = w1
        p_w2 = w2

print(p_w1)
print(p_w2)

1.0
0.8999999999999999

In [40]:
# check prediction

i1 = 4
i2 = 9

exp_output = 0

p = i1*p_w1 + i2*p_w2
print(p)

if (p >= 10):
    print("PREDICTION: >10")
    
else:
    print("PREDICTION: <=10")

12.1
PREDICTION: >10